Visualizing Locations

In [1]:
!pwd
!ls -la

/Users/pedrohserrano/data-visualization/gmail-inbox-analysis
total 2931720
drwxr-xr-x  19 pedrohserrano  staff        646 Mar 11 20:20 .
drwxr-xr-x  15 pedrohserrano  staff        510 Mar 11 02:12 ..
-rw-r--r--@  1 pedrohserrano  staff       6148 Mar 11 20:20 .DS_Store
drwxr-xr-x   5 pedrohserrano  staff        170 Mar 11 18:44 .ipynb_checkpoints
-rwxr-xr-x@  1 pedrohserrano  staff   26216300 Feb 18 18:49 Destacados.mbox
-rwxr-xr-x@  1 pedrohserrano  staff  966818573 Feb 18 18:49 Enviados.mbox
-rwxr-xr-x@  1 pedrohserrano  staff   19843556 Feb 18 17:21 Historialdeubicaciones.json
-rw-r--r--   1 pedrohserrano  staff      46529 Mar 11 19:46 Location.ipynb
-rwxr-xr-x@  1 pedrohserrano  staff  486344978 Feb 18 18:51 Recibidos.mbox
drwxr-xr-x@  4 pedrohserrano  staff        136 Jul 10  2005 demo
drwx------@  8 pedrohserrano  staff        272 Mar 11 19:48 descartes-0-7
-rwxr-xr-x@  1 pedrohserrano  staff     124415 Jul 10  2005 descartes.py
-rwxr-xr-x@  1 pedrohserrano  staff     123939 Jul 10  2005 descartes.py~
-rw-r--r--   1 pedrohserrano  staff     315510 Mar 11 02:07 gmail-inbox-analysis-berkeley.ipynb
-rw-r--r--   1 pedrohserrano  staff     544189 Mar 11 02:26 gmail-inbox-analysis-test.ipynb
-rw-r--r--   1 pedrohserrano  staff     573704 Mar 11 02:10 gmail-inbox-analysis.ipynb
drwxr-xr-x  13 pedrohserrano  staff        442 Mar 11 02:16 images
drwxr-xr-x@  3 pedrohserrano  staff        102 Jul 10  2005 plugin
-rw-r--r--@  1 pedrohserrano  staff      54121 Jul 10  2005 rene.jpg

In [7]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from mpl_toolkits.basemap import Basemap
from shapely.geometry import Point, Polygon, MultiPoint, MultiPolygon
from shapely.prepared import prep
import fiona
from matplotlib.collections import PatchCollection
from descartes import PolygonPatch

ImportError: No module named 'mpl_toolkits.basemap'

In [9]:
from descartes import PolygonPatch

ImportError: No module named 'descartes'

In [6]:
import matplotlib.pyplot

In [14]:
from mpl_toolkits.basemap

SyntaxError: invalid syntax (<ipython-input-14-59b04a43a024>, line 1)

In [15]:
import sys
print(sys.version)

3.5.3 |Anaconda 4.2.0 (x86_64)| (default, Mar  6 2017, 12:15:08)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]

In [3]:
from shapely.geometry import Point, Polygon, MultiPoint, MultiPolygon

In [12]:
import json
import datetime
with open('Historialdeubicaciones.json', 'r') as fh:
    raw = json.loads(fh.read())

ld = pd.DataFrame(raw['locations'])
del raw #free up some memory
# convert to typical units
ld['latitudeE7'] = ld['latitudeE7']/float(1e7) 
ld['longitudeE7'] = ld['longitudeE7']/float(1e7)
ld['timestampMs'] = ld['timestampMs'].map(lambda x: float(x)/1000) #to seconds
ld['datetime'] = ld.timestampMs.map(datetime.datetime.fromtimestamp)
# Rename fields based on the conversions we just did
ld.rename(columns={'latitudeE7':'latitude', 'longitudeE7':'longitude', 'timestampMs':'timestamp'}, inplace=True)
ld = ld[ld.accuracy < 1000] #Ignore locations with accuracy estimates over 1000m
ld.reset_index(drop=True, inplace=True)

In [13]:
ld

,accuracy,activitys,altitude,heading,latitude,longitude,timestamp,velocity,datetime
0,53,NaN,NaN,NaN,20.439290,-87.287720,1.414820e+09,NaN,2014-10-31 23:35:19.155
1,58,NaN,NaN,NaN,20.439363,-87.287705,1.414820e+09,NaN,2014-10-31 23:34:19.184
2,67,NaN,NaN,NaN,20.439250,-87.287705,1.414820e+09,NaN,2014-10-31 23:33:14.097
3,66,"[{'timestampMs': '1414819919727', 'activities'...",NaN,NaN,20.439270,-87.287700,1.414820e+09,NaN,2014-10-31 23:32:05.950
4,55,NaN,NaN,NaN,20.439357,-87.287708,1.414820e+09,NaN,2014-10-31 23:31:05.903
5,57,"[{'timestampMs': '1414819830517', 'activities'...",NaN,NaN,20.439477,-87.288253,1.414820e+09,NaN,2014-10-31 23:30:06.773
6,56,"[{'timestampMs': '1414819770596', 'activities'...",NaN,NaN,20.439307,-87.289227,1.414820e+09,NaN,2014-10-31 23:28:57.703
7,30,NaN,NaN,NaN,20.439316,-87.289284,1.414820e+09,NaN,2014-10-31 23:27:57.670
8,55,"[{'timestampMs': '1414819627104', 'activities'...",NaN,NaN,20.439301,-87.289221,1.414820e+09,NaN,2014-10-31 23:26:57.316
9,58,"[{'timestampMs': '1414819474818', 'activities'...",NaN,NaN,20.439310,-87.289254,1.414820e+09,NaN,2014-10-31 23:25:57.080
10,118,NaN,NaN,NaN,20.440041,-87.288625,1.414819e+09,NaN,2014-10-31 23:24:53.963
11,54,"[{'timestampMs': '1414819414877', 'activities'...",NaN,NaN,20.439645,-87.288086,1.414819e+09,NaN,2014-10-31 23:23:44.172
12,68,NaN,NaN,NaN,20.441614,-87.286942,1.414819e+09,NaN,2014-10-31 23:22:38.069
13,88,"[{'timestampMs': '1414819316362', 'activities'...",NaN,NaN,20.441270,-87.286661,1.414819e+09,NaN,2014-10-31 23:21:37.162
14,24,"[{'timestampMs': '1414819256433', 'activities'...",NaN,NaN,20.441428,-87.287100,1.414819e+09,NaN,2014-10-31 23:20:28.844
15,49,"[{'timestampMs': '1414819136573', 'activities'...",NaN,NaN,20.443573,-87.288235,1.414819e+09,NaN,2014-10-31 23:19:11.315
16,49,NaN,NaN,NaN,20.443573,-87.288235,1.414819e+09,NaN,2014-10-31 23:18:12.198
17,49,"[{'timestampMs': '1414819019700', 'activities'...",NaN,NaN,20.443573,-87.288235,1.414819e+09,NaN,2014-10-31 23:17:12.186
18,49,"[{'timestampMs': '1414818942605', 'activities'...",NaN,NaN,20.443573,-87.288235,1.414819e+09,NaN,2014-10-31 23:16:10.161
19,47,"[{'timestampMs': '1414818829573', 'activities'...",NaN,NaN,20.443594,-87.288245,1.414819e+09,NaN,2014-10-31 23:15:09.270
20,52,NaN,NaN,NaN,20.443539,-87.288210,1.414819e+09,NaN,2014-10-31 23:14:08.187
21,34,NaN,NaN,NaN,20.443475,-87.288203,1.414819e+09,NaN,2014-10-31 23:13:06.442
22,49,"[{'timestampMs': '1414818745360', 'activities'...",NaN,NaN,20.443578,-87.288214,1.414819e+09,NaN,2014-10-31 23:12:02.248
23,37,"[{'timestampMs': '1414818569561', 'activities'...",NaN,NaN,20.445908,-87.289137,1.414819e+09,NaN,2014-10-31 23:09:01.189
24,51,NaN,NaN,NaN,20.444641,-87.290479,1.414818e+09,NaN,2014-10-31 23:08:01.162
25,40,"[{'timestampMs': '1414818434615', 'activities'...",NaN,NaN,20.444734,-87.290500,1.414818e+09,NaN,2014-10-31 23:07:00.233
26,36,"[{'timestampMs': '1414818281608', 'activities'...",NaN,NaN,20.444839,-87.290483,1.414818e+09,NaN,2014-10-31 23:04:00.439
27,56,NaN,NaN,NaN,20.444844,-87.290393,1.414818e+09,NaN,2014-10-31 23:02:59.479
28,57,"[{'timestampMs': '1414818132870', 'activities'...",NaN,NaN,20.444852,-87.290423,1.414818e+09,NaN,2014-10-31 23:02:02.378
29,40,"[{'timestampMs': '1414818013019', 'activities'...",NaN,NaN,20.445908,-87.289137,1.414818e+09,NaN,2014-10-31 23:01:01.542
...,...,...,...,...,...,...,...,...,...
63067,30,NaN,NaN,NaN,19.400367,-99.171003,1.390283e+09,NaN,2014-01-20 23:42:02.232
63068,22,NaN,NaN,NaN,19.400425,-99.171062,1.390283e+09,NaN,2014-01-20 23:41:02.081
63069,22,"[{'timestampMs': '1390282804101', 'activities'...",NaN,NaN,19.400329,-99.171044,1.390283e+09,NaN,2014-01-20 23:40:01.292
63070,30,NaN,NaN,NaN,19.400348,-99.170993,1.390283e+09,NaN,2014-01-20 23:39:01.281
63071,30,NaN,NaN,NaN,19.400339,-99.170951,1.390283e+09,NaN,2014-01-20 23:38:01.273
63072,21,NaN,NaN,NaN,19.400333,-99.171035,1.390282e+09,NaN,2014-01-20 23:34:57.058
63073,26,"[{'timestampMs': '1390282439285', 'activities'...",NaN,NaN,19.400308,-99.171083,1.390282e+09,NaN,2014-01-20 23:33:56.482
63074,30,NaN,NaN,NaN,19.400241,-99.170995,1.390282e+09,NaN,2014-01-20 23:32:55.251
63075,30,NaN,NaN,NaN,19.400239,-99.171008,1.390282e+09,NaN,2014-01-20 23:31:56.124
63076,30,"[{'timestampMs': '1390282257902', 'activities'...",NaN,NaN,19.400293,-99.170956,1.390282e+09,NaN,2014-01-20 23:30:55.101
63077,30,NaN,NaN,NaN,19.400382,-99.170959,1.390282e+09,NaN,2014-01-20 23:29:54.151
63078,30,NaN,NaN,NaN,19.400289,-99.170954,1.390282e+09,NaN,2014-01-20 23:28:52.750
63079,23,"[{'timestampMs': '1390282076410', 'activities'...",NaN,NaN,19.400320,-99.171050,1.390282e+09,NaN,2014-01-20 23:27:52.708
63080,22,NaN,NaN,NaN,19.400281,-99.171017,1.390282e+09,NaN,2014-01-20 23:26:52.681
63081,22,NaN,NaN,NaN,19.400340,-99.171047,1.390282e+09,NaN,2014-01-20 23:25:52.618
63082,30,"[{'timestampMs': '1390281919874', 'activities'...",NaN,NaN,19.400346,-99.171010,1.390282e+09,NaN,2014-01-20 23:24:52.798
63083,20,NaN,NaN,NaN,19.400320,-99.171019,1.390282e+09,NaN,2014-01-20 23:23:52.920
63084,22,NaN,NaN,NaN,19.400262,-99.171003,1.390282e+09,NaN,2014-01-20 23:22:51.133
63085,5,"[{'timestampMs': '1390268489754', 'activities'...",2220.0,202.0,19.415401,-99.068561,1.390268e+09,2.0,2014-01-20 19:41:11.271
63086,34,NaN,NaN,NaN,19.415782,-99.068885,1.390268e+09,NaN,2014-01-20 19:40:25.762
63087,32,"[{'timestampMs': '1390268337045', 'activities'...",NaN,NaN,19.415721,-99.071205,1.390268e+09,NaN,2014-01-20 19:39:27.643
63088,100,"[{'timestampMs': '1390268178023', 'activities'...",NaN,NaN,19.413122,-99.073555,1.390268e+09,NaN,2014-01-20 19:36:11.340
63089,100,NaN,NaN,NaN,19.413122,-99.073555,1.390268e+09,NaN,2014-01-20 19:35:21.707
63090,100,"[{'timestampMs': '1390268031209', 'activities'...",NaN,NaN,19.413122,-99.073555,1.390268e+09,NaN,2014-01-20 19:34:28.189
63091,12,"[{'timestampMs': '1390267962172', 'activities'...",2234.0,93.0,19.406890,-99.080027,1.390268e+09,15.0,2014-01-20 19:32:49.215
63092,47,NaN,2224.0,324.0,19.407367,-99.082410,1.390268e+09,2.0,2014-01-20 19:32:03.176
63093,7,"[{'timestampMs': '1390267889204', 'activities'...",2228.0,96.0,19.407519,-99.084310,1.390268e+09,14.0,2014-01-20 19:31:18.041
63094,8,NaN,2228.0,98.0,19.407556,-99.084877,1.390268e+09,14.0,2014-01-20 19:31:14.284
63095,827,NaN,NaN,NaN,19.409005,-99.090640,1.390268e+09,NaN,2014-01-20 19:30:38.819
63096,827,"[{'timestampMs': '1390267801313', 'activities'...",NaN,NaN,19.409005,-99.090640,1.390268e+09,NaN,2014-01-20 19:29:52.625